<!--The content below is only a placeholder and can be replaced.-->
<div id="app-component-container">
  <h1>
    {{title}}
  </h1>

  <div id="app-component-nav">
    <h3>
      Please select some of the game following below
    </h3>
    <nav class="navbar navbar-light bg-faded">
      <ul>
        <li *ngIf="service.gameId == null || service.gameId==''">
          <a class=" btn btn-outline-danger ab " (click)="selectGame(1) " id="ppvc ">Player vs. Computer</a>
        </li>
        <li *ngIf="service.gameId == null || service.gameId==''">
          <a class="btn btn-outline-danger ab " (click)="selectGame(2) " id="pcvc ">Browser vs. Computer</a>
        </li>
        <li *ngIf="service.gameId == null || service.gameId==''">
          <a class="btn btn-outline-danger ab " (click)="selectGame(3) " id="pcvc ">Peer 2 Peer</a>
        </li>
        <li *ngIf="service.gameId != null && service.gameId !=''">
          <a class="btn btn-outline-danger ab " (click)="reset(3) " id="pcvc ">Reset</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>